<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles-login.css">
</head>
<body>
     <header>
        <nav>
          <div class="nav-list">
                <div class="logo">
                    <a href="../../public/index.html"><img src="../../public/assets/images/logo rd (1).png" alt=""></a>
                </div>

                <div class="hamburguer" id="hamburguer">
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
                </div>
                <ul class="menu" id="menu">
                  <!-- <li><a href="../html/personalize.php">Personalize</a></li> -->
                  <!-- <li><a href="#myCarousel">Sobre</a></li> -->
                  <li><a href="http://zltech.freesite.online/?i=1"target="_blank">ZL Tech</a></li>
                  <li> <a href="../views/tipo_cadastro.php">Cadastrar</a></li>
                  <li><a href="../views/login.php">Entrar</a></li>
              </ul>
            </div>
        </nav>
    </header>

    
</body>
</html>